@page "/login"
@using quiz_project.Services
@inject AuthService auth
@inject NavigationManager nav
<div class="form-wrapper">

    <div class="form-card">

        <h2>Welcome Back 👋</h2>

        <input placeholder="Username"
               @bind="username" />

        <input type="password"
               placeholder="Password"
               @bind="password" />

        <button @onclick="LoginUser">
            Login
        </button>

        <p class="switch-text">
            Don't have an account?
            <a @onclick="GoSignup">Signup</a>
        </p>

    </div>

</div>


@code {

    string username;
    string password;
    string message;

    void LoginUser()
    {
        if (auth.Login(username, password))
        {
            nav.NavigateTo("/dashboard");
        }
        else
        {
            message = "Invalid login";
        }
    }

    void GoSignup()
    {
        nav.NavigateTo("/signup");
    }

}


   