@page "/quiz/{Category}"
@using quiz_project.Models
@inject quiz_project.Services.PlayerService playerService
@using quiz_project.Services
@inject AuthService auth
@inject NavigationManager nav

<div class="quiz-page-wrapper">

    <h1 class="quiz-title">
        📊 @Category Quiz
    </h1>
@if (string.IsNullOrEmpty(auth.CurrentUser))
{
    <div class="page-card">
        <p>Please login first.</p>
    </div>
}

else if (!quizFinished)
{

    <div class="quiz-container">

        <div class="progress-box">

            Question @(currentQuestion + 1)
            of @questions.Count

            <span class="score-text">
                Score: @score
            </span>

        </div>


        <div class="question-card">

            @questions[currentQuestion].Question

        </div>


        <div class="options-grid">

            @foreach (var option in questions[currentQuestion].Options)
            {
                <button class="option-btn"
                        @onclick="(() => Answer(option))">

                    @option

                </button>
            }

        </div>

    </div>

}

else
{

    <div class="quiz-finish-card">

        <h2>🎉 Quiz Completed</h2>

        <p>Your Score: @score</p>


        <button class="save-btn"
                @onclick="SaveScore">

            Save Score

        </button>


        <button class="dashboard-btn"
                @onclick="GoDashboard">

            Back to Dashboard

        </button>

    </div>
    

}
</div>


@code {

    [Parameter]
    public string Category { get; set; }

    int currentQuestion = 0;
    int score = 0;
    bool quizFinished = false;

    List<QuestionModel> questions = new();


    protected override void OnInitialized()
    {
        LoadQuestions();
    }


    void LoadQuestions()
    {

        if (Category == "Savings")
        {
            questions = new()
        {
            new("What is saving?",
                new(){ "Spending money", "Keeping money for future", "Borrowing money" },
                "Keeping money for future"),

            new("Emergency fund should cover?",
                new(){ "1 day", "3–6 months expenses", "10 years expenses" },
                "3–6 months expenses"),
        };
        }

        else if (Category == "Investing")
        {
            questions = new()
        {
            new("Best long-term investment?",
                new(){ "Stocks", "Lottery", "Gambling" },
                "Stocks"),

            new("Mutual funds are?",
                new(){ "Safe box", "Investment pool", "Loan system" },
                "Investment pool")
        };
        }

        else if (Category == "Trading")
        {
            questions = new()
        {
            new("Trading means?",
                new(){ "Long-term saving", "Buying & selling assets", "Borrowing money" },
                "Buying & selling assets"),

            new("Intraday trading happens?",
                new(){ "Same day", "1 year", "10 years" },
                "Same day")
        };
        }

        else if (Category == "Spending")
        {
            questions = new()
        {
            new("Budget helps?",
                new(){ "Waste money", "Track expenses", "Increase debt" },
                "Track expenses"),

            new("Needs are?",
                new(){ "Luxury items", "Essential items", "Entertainment only" },
                "Essential items")
        };
        }
    }


    void Answer(string selected)
    {
        if (selected == questions[currentQuestion].CorrectAnswer)
        {
            score += 10;
        }

        currentQuestion++;

        if (currentQuestion >= questions.Count)
        {
            quizFinished = true;
        }
    }


    void SaveScore()
    {
        playerService.AddPlayer(new Player
        {
            Name = auth.CurrentUser,
            Points = score
        });

        nav.NavigateTo("/leaderboard");
    }


    void GoDashboard()
    {
        nav.NavigateTo("/home");
    }


    class QuestionModel
    {
        public string Question { get; set; }
        public List<string> Options { get; set; }
        public string CorrectAnswer { get; set; }

        public QuestionModel(string q, List<string> o, string c)
        {
            Question = q;
            Options = o;
            CorrectAnswer = c;
        }
    }

}