@page "/"
@page "/Signup"
@using quiz_project.Services
@inject AuthService auth
@inject NavigationManager nav

<div class="form-card">

    <h2>Create Account</h2>

    <input placeholder="Username"
           @bind="username" />

    <input type="password"
           placeholder="Password"
           @bind="password" />

    <button @onclick="Register">
        Signup
    </button>

</div>

@code {
string username;
string password;
string message;

void Register()
{
    if(auth.Signup(username,password))
    {
        nav.NavigateTo("/login");
    }
        else
        {
            message = "Username already exists";
        }
    }
}